body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f4f4f4;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin: 0;
}


header ul {
  list-style: none;
  padding: 0;
}

header ul li {
  display: inline;
  margin-right: 20px;
}

header a {
  color: #fff;
  text-decoration: none;
}
.menu-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.menu-item {
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
}

.menu-item img {
  max-width: 100%;
  height: auto;
}

.price {
  background-color: #e2e2e2;
  padding: 0.5rem;
  border-radius: 5px;
  display: inline-block;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #333;
  color: #fff;
}

/* Agrega tus propias animaciones y transiciones */
