html,
body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f4f4f4;
  scroll-behavior: smooth;
  font-family: "Audiowide", Arial, sans-serif;
}

#subida {
  position: fixed;
  bottom: 100px;
  right: 20px;
  padding: 7px 15px;
  font-size: 16px;
  background-color: #414141;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  z-index: 1000;
}

#subida:hover {
  background-color: #565656;
}

header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  background-image: url(../img/fondo_encabezado.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -40px;
  text-shadow: 1.5px 0.5px 2px #333;
  font-size: 25px;
}

header h1 {
  margin: 0;
}


header ul {
  list-style: none;
  padding: 0;
}

header ul li {
  display: inline;
  margin-right: 20px;
}

header a {
  color: #fff;
  text-decoration: none;
}

.menu-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0px 0px 0px;
}

.menu-item {
  border: 1px solid #ddd;
  margin-bottom: 40px;
  padding: 20px;
  text-align: justify;
  width: 520px;
  border-radius: 10px;
  background-color: ghostwhite;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

figure {
  display: block;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}

.menu-item img {
  padding: 0 auto;
  height: auto;
  width: 500px;
  align-items: center;
  border-radius: 5px;
}

.precio {
  background-color: #e2e2e2;
  padding: 7px;
  border-radius: 5px;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

footer h2 {
  font-family: "Audiowide", 'Arial', sans-serif;
}

.formulario-reservas h2,
.datos-contacto h2 {
  color: #333;
}

.formulario-reservas h2,
.datos-contacto h2,
label,
input,
textarea {
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input[type="submit"] {
  width: auto;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid #737373;
  border-radius: 5px;
  padding: 15px 25px 15px 25px;
  font-size: 17px;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #cbcbcb;
}

#contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  background: #333;
  color: #fff;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  font-family: "Arail", sans-serif;
}


.contenedor-contacto {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background: #333;
  color: #fff;
}

.datos-contacto {
  align-self: baseline;
  width: 60%;
}

.datos-contacto h2 {
  color: rgb(255, 255, 255);
  margin: 0;
}

.datos-contacto img {
  width: 90%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.formulario-reservas {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 68%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.formulario-reservas h2 {
  color: #333;
}

.contacto from {
  position: relative;
  top: -20px;
}

.flotante {
  position: fixed;
  display: flex;
  top: 105px;
  right: 20px;
  font-size: 16px;
  background-color: #4a4a4a;
  color: white;
  border: none;
  border-radius: 5px;
  z-index: 1000;
  justify-content: center;
  width: 110px;
}

.flotante a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  width: 75%;
  text-align: -webkit-center;
}